{% extends 'layout.html'%}

{% load static %}

{% block title%}
    Home
{% endblock %}

{% block content %}
<section class="section">
<div class="d-flex align-items-center justify-content-center">   
    <div>
        <h1>Welcome to Emporio</h1>
        <p>If you are looking for top notch websites, you've come to the right place!</p>
    </div>
</div>
</section>
<section class="section">
<div>
    <h2>Services</h2>
    <p>When it comes to how your website looks and works, it is a make-or-break proposition.
       Your website visitors must feel comfortable navigating and interacting with your website, it must appeal
       to your ideal customers and your content must be easily updatable. That is why we are offering our Services
       so that your website ticks off all the boxes for a first rate site!
    </p>
</div>
<div class="card-deck container-md">
    <div class="row gx-3 gy-3">
        <div class="col-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card mb-3 h-100">
            <img src="{% static 'images/consultation.jpg' %}" class="card-img-top" alt="image of consultation package">
            <div class="card-body">
                <h5 class="card-title">Consultation</h5>
                <p class="card-text">Book a free consultation and we can turn your great ideas into a plan.
                    <ul>
                        <li>Set the goals</li>
                        <li>Set the project boundaries</li>
                        <li>recieve feedback</li>
                    </ul>
                </p>
                <div>
                <form  action="/" method="get">
                    <button class="btn custom-button-outline mx-auto card-button"> Test </button>
                </form>
                </div>
            </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card mb-3 h-100">
            <img src="{% static 'images/standard-package.jpg' %}" class="card-img-top" alt="image of consultation package">
            <div class="card-body">
                <h5 class="card-title">Standard Package</h5>
                <p class="card-text ">Fully responsive website design. <b>From £1500</b>
                    <ul>
                        <li>Wireframes and mockups</li>
                        <li>responsive website design</li>
                        <li>SEO foundations</li>
                        <li>Monthly maintenance & hosting</li>
                    </ul>
                </p>
                <div>
                <form  action="/" method="get">
                    <button class="btn custom-button-outline mx-auto card-button"> Test </button>
                </form>
                </div>
            </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card mb-3 h-100">
            <img src="{% static 'images/premium-package.jpg' %}" class="card-img-top" alt="image of consultation package">
            <div class="card-body">
                <h5 class="card-title">Premium Package</h5>
                <p class="card-text">This includes everything from the standard package with a few extras. <b>From £2500</b>
                    <ul>
                        <li>1 year website hosting included</li>
                        <li>small monthly website updates included</li>
                        <li>3 month progress review</li>
                    </ul>
                </p>
                <div>
                <form  action="/" method="get">
                    <button class="btn custom-button-outline  mx-auto card-button"> Test </button>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

</section>
<section id="portfolio" class="section">
<div>
    <h2>
        Portfolio
    </h2>
    <p >Here you can see some of the previous works we've done!</p>
</div>
<div id="portfolio-imgs">
    <div class="d-flex image-container overlay">
       <a href="https://sortead-7559c99c8714.herokuapp.com/"> <img src="{% static 'images/portfolio-sortead-thumbnail.png' %}"
        alt="Thumbnail for Sortead site"> </a>
    </div>
    <div class="d-flex image-container overlay">
       <a href="https://blumbloe.github.io/rock-paper-site/">  <img src="{% static 'images/portfolio-rock-paper-thumbnail.png' %}"
         alt="Thumbnail for Rock paper site"> </a>
    </div>
    <div class="d-flex image-container overlay">
       <a href="https://blumbloe.github.io/fortniting-101/">  <img src="{% static 'images/portfolio-fortniting-thumbnail.png' %}"
         alt="Thumbnail for Fortniting-101 site"> </a>
    </div>
</div>
</ul>
</section>
{% endblock %}
